body{
    background: rgb(80, 255, 159);

}
#name{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: solid rgb(19, 17, 7) 1px;
    background-color: transparent;
    color:black;
  
}
button{
    height: 30px;
    background-color: rgb(51, 0, 255);
    width: 100px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    font-style: italic;
}
#nationality{
    color:grey;
   font-family:serif;
    font-size: 25px;
    margin-top: 50px;
}
#para{
    color: black;
    font-size: 30px;
    font-family:sans-serif;
  
}
.card{
    width: 500px;
    height:100px
    text-align:center;
    border:solid gold 1px;
    border-radius:20px;
    position: relative;
    left:400px
    
}
h1{
    font-family: sans-serif;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width: 2px;
    opacity: 0.9;
    font-size:40px ;
    
}